body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }

  
.imagenCarousel{
  height: 400px;
  object-fit: cover;
} 
.tiposdepokemon{
    background: green;
    color: white;
    border-radius: 20px ;
    
  }
  .tiposdepokemon2{
    background: purple;
    color: white;
    border-radius: 20px ;
    
  }
  .cardtam{
    width: 30%;
  }