body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }

  
.imagenCarousel{
  height: 400px;
  object-fit: cover;
}
  
  

  .tiposdepokemon{
    background: green;
    color: white;
    border-radius: 20px ;
    width: 15%;
  }
  .tiposdepokemon2{
    background: purple;
    color: white;
    border-radius: 20px ;
    width: 20%;
  }
  .cardtam{
    width: 30%;
  }
